{% extends 'base.html' %}
{% load static %}

{% block title %} About me {% endblock title %}

{% block content %}
    <div class="content">
        <main class="post">
            <article>
                <h1 class="post-title">
                    <a href="/about/">About Me</a>
                </h1>

                <div class="post-content">
                    Hi! I'm Anvarbek Jumamuradov, a 15-year-old junior backend developer from Uzbekistan. My programming journey began at 13, and I've been on a quest to master backend development since then.<br><br>

                    My coding adventure started with HTML and CSS tutorials, forming the basis of my passion for web development. Within a year, I delved into Python, fascinated by its versatility and power.<br><br>

                    Eager for knowledge, I enrolled in an IT school, spending six months mastering Python. This educational stint empowered me to step into the world of open source, actively contributing to various projects, gaining practical experience and insights.<br><br>

                    Recognizing the importance of hands-on experience, I sought internships in the open-source community, collaborating with seasoned developers. These experiences not only sharpened my coding skills but also instilled in me the ethos of community-driven development.<br><br>

                    Ever enthusiastic about staying ahead in the tech curve, I am currently immersing myself in the world of Go (Golang). This new venture is a testament to my commitment to continuous learning, ensuring that my skill set remains at the forefront of the ever-evolving backend development landscape.
                </div>
            </article>
        </main>
    </div>
{% endblock content %}
